:root {
    --button-shadow: 1px 1px 3px 1px #dadce0;
    --box-inset: 1px 1px 3px 1px #dadce0 inset;
    --main-blue: #2e7ec8;
    --light-grey: #eaeaea;
    --middel-grey: #6f6669;
    --dark-grey: #5a5256;
  }
.main-manager-login-section {
  width: 100%;
}
.manager-login-wrap {
  padding-top: 3%;
  box-shadow: var(--box-inset);
  border-radius: 5px;
  width: 27%;
  height: 460px;
  margin: 7% auto;
  display: flex;
  flex-direction: column;
}
.manager-login-wrap h2 {
  font-weight: 800;
  font-size: 37px;
  text-align: center;
  margin-top: 10%;
}
.total-wrap {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}
.row-column {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}
.row-column p {
  font-weight: 500;
  font-size: 20px;
  margin-top: 76%;
}
.row-column input {
  border-radius: 3px;
  border: none;
  box-shadow: var(--box-inset);
  height: 28px;
  margin-top: 13%;
}
.manager-login-wrap button {
  cursor: pointer;
  font-size: 18px;
  width: 80px;
  border: none;
  height: 30px;
  color: var(--dark-grey);
  border-radius: 3px;
  box-shadow: var(--button-shadow);
  background-color: transparent;
  margin: 7% 58%;
}