:root {
  --button-shadow: 1px 1px 3px 1px #dadce0;
  --box-inset: 1px 1px 3px 1px #dadce0 inset;
  --main-blue: #2e7ec8;
  --light-grey: #eaeaea;
  --middel-grey: #6f6669;
  --dark-grey: #5a5256;
}
.service-center-section {
  margin: 10px auto;
  padding: 5% 0;
  width: 80%;
  height: 800px;
}
.service-center-section-header {
  padding: 0 15px;
}
.service-center-section-header h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: var(--main-blue);
}
.service-write-btn {
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
  box-shadow: var(--button-shadow);
  height: 40px;
  border-radius: 5px;
  width: 80px;
  color: var(--dark-grey);
  font-weight: 800;
}
.service-center-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  text-align: center;
}
.service-center-section table thead th {
  font-size: 18px;
  font-weight: 700;
}
.service-center-section table tr {
  border-bottom: 1px solid var(--main-blue);
}
.service-center-section table tbody td {
  text-align: center;
  padding: 10px;
}
.service-center-section table tr:last-child {
  border-bottom: none;
}
/* JS - 추가사항 */
.popup{
  display: none;
}
#boardData tr{
  cursor: pointer;
}
.delete{
  z-index: 2;
  display: none;
}
.update{
  z-index: 2;
  display: none;
}