:root {
  --button-shadow: 1px 1px 3px 1px #dadce0;
  --box-inset: 1px 1px 3px 1px #dadce0 inset;
  --main-blue: 	#2e7ec8;
  --light-grey: #eaeaea;
  --middel-grey: #6f6669;
  --dark-grey: #5a5256;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.row {
  display: flex;
  justify-content: space-between;
}
header {
  margin-top: 15px;
  background-color: var(--main-blue);
  color: white;
  margin-bottom: 5%;
  height: 68px;
  padding: 10px 8%;
}
.logo {
  background-color: var(--light-grey)
}
.category {
  font-size: 15px;
  width: 50%;
  text-align: center;
}
.category a {
  text-decoration: none;
  color: var(--light-grey);
}
.category-link {
  /* border: 1px solid white; */
  margin: 0 3%;
  width: 150px;
  padding-top: 10px;
}
.reference-dropdown button {
  color: var(--light-grey);
  font-size: 15px;
  border: none;
  background-color: transparent;
  margin: 1% 3%;
}


.dropdown-content {
  display: none;
  background-color: var(--light-grey);
}
.dropdown-content a {
  display: block;
  padding: 12px 16px;
  text-align: left;
  color: whitesmoke;
}
.dropdown-content a:hover {
  transition: 0.3s;
  background-color: var(--main-blue);
}
.reference-dropdown:hover .dropdown-content {
  display: block;
}



.swiper {
  width: 98%;
  height: 350px;
}


.main-row-section {
  padding: 3% 1%;
  height: 400px;
}
.main-graph-section {
  width: 50%;
  border: 1px solid khaki;
  margin-right: 2%;
}
.main-user-board-list-section {
  width: 50%;
  border: 1px solid magenta;
}

footer {
  background-color: black;
  height: 150px;
  color: whitesmoke;
}
footer button {
  cursor: pointer;
  background-color: transparent;
  color: whitesmoke;
}