:root {
  --button-shadow: 1px 1px 3px 1px #dadce0;
  --box-inset: 1px 1px 3px 1px #dadce0 inset;
  --main-blue: 	#2e7ec8;
  --light-grey: #eaeaea;
  --middel-grey: #6f6669;
  --dark-grey: #5a5256;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.row {
  display: flex;
  justify-content: space-between;
}
.top {
  width: 100%;
  height: 25px;
  background-color: var(--main-blue);
}
header {
  color: white;
  height: 68px;
  padding-top: 15.8px;
}
.logo {
  background-color: var(--light-grey)
}
.category {
  font-size: 16px;
  width: 50%;
  text-align: center;
}
.category a {
  color: var(--main-blue);
  text-decoration: none;
}
.category-link {
  margin: 0 5%;
  width: 120px;
  padding-top: 10px;
  font-weight: 800;
}
.dropdown{
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.dropdown::after{
  display: block;
  content: '';
  clear: both;
}
.link-button {
  color: var(--main-blue);
  font-weight: 800;
  font-size: 16px;
  border: none;
  background-color: transparent;
  margin: 0% 3%;
}
.dropdown-content {
  z-index: 1;
  width: 130px;
  display: none;
  position: absolute;
  background-color: var(--main-blue);
  margin-top: 20px;
}
.dropdown-content a {
  display: block;
  padding: 15px 20px;
  text-align: center;
  color: var(--light-grey);
}
.dropdown-content a:hover {
  transition: 0.3s;
  background-color: var(--light-grey);
  color: var(--main-blue);
}
.dropdown:hover .dropdown-content {
  display: block;
}



.swiper {
  z-index: 0;
  width: 100%;
  height: 550px;
}
.swiper-slide img {
  border-radius: 2px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.main-row-section {
  padding: 3% 1%;
  height: 400px;
}
.main-graph-section {
  width: 50%;
  border: 1px solid khaki;
  margin-right: 2%;
}
.main-user-board-list-section {
  width: 50%;
  border: 1px solid magenta;
}

footer {
  background-color: black;
  height: 150px;
  color: whitesmoke;
}
footer button {
  cursor: pointer;
  background-color: transparent;
  color: whitesmoke;
}